.teamCard {
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.profilePic {
    border-radius: 999px;
    margin-bottom: 12px;
}

@media screen and (max-width: 479px) {
    .profilePic {
        width: 110px;
        height: 110px;
    }
}